.DS_Store
.venv
.venv/*
.idea/
*.pdf
*.docx
.env
Contracts/
Output/
ExcelOutput/
contract_images/
contract_b4.txt
contract.txt
contractb4Email.txt
extracted_table_output.csv
extracted_table_output.txt
output.txt