.DS_Store
.venv
.venv/*
venv/
.idea/
*.pdf
*.docx
.env
Contracts/
Output/
ExcelOutput/
contract_images/
extracted_table_output.csv
extracted_table_output.txt
output.txt
Extras/
/Contracts_new/
venv
output_directory/
__pycache__/
validated_directory/
contract_anonymized.txt
contract_b4.txt